<div class="container">
    <div class="col-xs-12 col-sm-5 col-md-5" style="margin-left: 10em">
        <h3 class="header">Đặc Sản bưởi Việt Nam</h3>
        <p>Địa chỉ Cửa Hàng : 06 Trần Văn Ơn, TP. Thủ Dầu Một, Bình Dương</p>
        <p>Kho Hàng : 06 Trần Văn Ơn, TP. Thủ Dầu Một, Bình Dương</p>
        <p>Hotline : 0933 798 706 </p>
        <p>Email : chinhhi102@gmail.com</p>
    </div>
    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9315.735869221819!2d106.66855308363965!3d10.979636144080276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12739bb468f%3A0xe2bf4f397d0aa76!2zVGjhu6cgROG6p3UgTeG7mXQgVW5pdmVyc2l0eQ!5e0!3m2!1sen!2s!4v1576997844291!5m2!1sen!2s" frameborder="0"
                style="border:0" allowfullscreen></iframe>
    </div>

    <!--Google Maps-->
</div>