@using DataLibrary.Models
@model DataLibrary.Models.ProductModel

<h5 class="nav_header">Danh mục sản phẩm</h5>
<ul class="list-group">
    @if (ViewData["loaisp"] == null)
    {
        <li class="list-group-item-danger">Không có loại sản phẩm nào cả</li>
    }
    else
    {
        foreach (LoaiSPModel loai in (IEnumerable<LoaiSPModel>)ViewData["loaisp"])
        {
            <li class="list-group-item"><a href="/Product/Categories/@loai.LoaiSPID">@loai.TenLoaiSP</a></li>
        }
    }
</ul>
