@using DataLibrary.Models

<nav class="navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main" data-hover="dropdown" data-animations="fadeInUp fadeInRight fadeInUp fadeInLeft" aria-expanded="true">
        <ul class="nav navbar-nav navbar-center">
            <li class=""><a href="/">Trang chủ</a></li>
            <li class=""><a href="/Guest/Home/Introduct">Giới thiệu</a></li>
            <li class="dropdown ">
                <a href="/Guest/Product">Sản phẩm</a>
                <ul class="dropdown-menu dropdownhover-bottom">
                    @if (ViewData["loaisp"] == null)
                    {
                        <li>Không có loại sản phẩm nào cả</li>
                    }
                    else
                    {
                        foreach (LoaiSPModel loai in (IEnumerable<LoaiSPModel>)ViewData["loaisp"])
                        {
                            <li><a href="/Guest/Product/Categories/@loai.LoaiSPID">@loai.TenLoaiSP</a></li>
                        }
                    }
                </ul>
            </li>
            <li class=""><a href="/Guest/Home/News">Tin tức</a></li>
            <li class=""><a href="/Guest/Home/Contact">Liên Hệ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
            <li class="gio-hang">
                <a href="/Guest/Cart" class="btn-cart-top">
                    <img src="~/Content/Guest/uploads/source/icon/iconcart.png" alt="" /> <span class="wcmc-total-items">@ViewData["NumCart"]</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>