<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Hệ Thống Quản Lý Bưởi Số Một Việt Nam</h1>
            <p>Bưởi là trái cây khá quen thuộc rất được các gia đình Việt ưa thích. Những loại bưởi thường được ưa chuộng đó là bưởi năm roi, bưởi da xanh, ngoài ra còn có nhiều loại bưởi khác với mùi vị đặc trưng nữa.</p>
            <p><a href="/" target="_blank" class="btn btn-primary btn-lg">Khám Phá Ngay</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <a href="#" class="list-group-item active">Menu</a>
        <a href="#" class="list-group-item">Quản Lý Đơn Hàng</a>
        <a href="/Admin/Product" class="list-group-item">Quản Lý Sản Phẩm</a>
        <a href="#" class="list-group-item">Quản Lý ...</a>
        <a href="#" class="list-group-item">Cài Đặt Hệ Thống</a>
    </div>
</div>


<style>
    body {
        padding-top: 70px;
    }
</style>




