
<div class="widget_product product-slider-horizontal" style="">
    <div class="title-header">
        <h3 class="header">Sản phẩm Đang Bán</h3>
    </div>
    <div class="box-content">
        <div id="widget_product_37" class="list-item-product row">
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="cha-la-do-an-do/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/san-pham/traicay/chalachala.jpg" alt="CHÀ LÀ ĐỎ ẤN ĐỘ " />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="cha-la-do-an-do/index.htm" title="CHÀ LÀ ĐỎ ẤN ĐỘ " style="color:#00cc33">CHÀ LÀ ĐỎ ẤN ĐỘ </a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">700,000₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="hong-tao-meo/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/san-pham/traicay/tao-tau-2.jpg" alt="HỒNG TÁO MÈO " />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="hong-tao-meo/index.htm" title="HỒNG TÁO MÈO " style="color:#00cc33">HỒNG TÁO MÈO </a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">95,000₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="tao-trucape-nam-phi/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/san-pham/traicay/trucape.jpg" alt="TÁO TRUCAPE NAM PHI" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="tao-trucape-nam-phi/index.htm" title="TÁO TRUCAPE NAM PHI" style="color:#00cc33">TÁO TRUCAPE NAM PHI</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">60,000₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="tao-fuji-nhat-ban/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/9e989478226ecd30947f.jpg" alt="TÁO FUJI NHẬT BẢN" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="tao-fuji-nhat-ban/index.htm" title="TÁO FUJI NHẬT BẢN" style="color:#00cc33">TÁO FUJI NHẬT BẢN</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">100,000₫</span>
                            <del class="product-item-price-old">220,000₫</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="vie-t-qua-t-new-zealand/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="~/Content/Guest/uploads/source/blueberrylaquagi-1.jpg" alt="Việt quất" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="vie-t-qua-t-new-zealand/index.htm" title="Việt quất" style="color:#00cc33">Việt quất</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="nho-do-u-c-khong-ha-t/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/nhodoucmaster.jpg" alt="Nho đỏ Úc không hạt" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="nho-do-u-c-khong-ha-t/index.htm" title="Nho đỏ Úc không hạt" style="color:#00cc33">Nho đỏ Úc không hạt</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="cherry-u-c/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/meohaynhanbiettraicherrytrungquocvacherryucnuocucme2.png" alt="Cherry Mỹ" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="cherry-u-c/index.htm" title="Cherry Mỹ" style="color:#00cc33">Cherry Mỹ</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">400,000₫</span>
                            <del class="product-item-price-old">500,000₫</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="cherry-vang-my-cherry-my-ngot/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/cherryvangmy.jpg" alt="Cherry Vàng New Zealand" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="cherry-vang-my-cherry-my-ngot/index.htm" title="Cherry Vàng New Zealand" style="color:#00cc33">Cherry Vàng New Zealand</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="luu-nam-phi/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/san-pham/luunamphi.jpg" alt="LỰU NAM PHI" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="luu-nam-phi/index.htm" title="LỰU NAM PHI" style="color:#00cc33">LỰU NAM PHI</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="tao-vang-kinsei-nhat-ban/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/14565196824606.jpg" alt="Táo vàng Kinsei Nhật Bản" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="tao-vang-kinsei-nhat-ban/index.htm" title="Táo vàng Kinsei Nhật Bản" style="color:#00cc33">Táo vàng Kinsei Nhật Bản</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">150,000₫</span>
                            <del class="product-item-price-old">225,000₫</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="ta-o-juliet-organic/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/taojuliethuucotaisoibien9af1524187799.jpg" alt="Táo Juliet Organic" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="ta-o-juliet-organic/index.htm" title="Táo Juliet Organic" style="color:#00cc33">Táo Juliet Organic</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">125,000₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="le-ma-ho-ng-nam-phi/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/1455766597lenamphi.jpg" alt="Lê má hồng Nam Phi" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="le-ma-ho-ng-nam-phi/index.htm" title="Lê má hồng Nam Phi" style="color:#00cc33">Lê má hồng Nam Phi</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="le-ha-n-quo-c/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/2thlehanquocmaster.jpg" alt="Lê Hàn Quốc" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="le-ha-n-quo-c/index.htm" title="Lê Hàn Quốc" style="color:#00cc33">Lê Hàn Quốc</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="kiwi-va-ng-new-zealand/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/2d8f78f170ed908fc31e5ceef6ecd2f4.jpg" alt="Kiwi vàng New Zealand" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="kiwi-va-ng-new-zealand/index.htm" title="Kiwi vàng New Zealand" style="color:#00cc33">Kiwi vàng New Zealand</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="ta-o-ambrosia-new-zealand/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/15301751441463388560taoamnewzealand.jpg" alt="Táo Ambrosia New Zealand" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="ta-o-ambrosia-new-zealand/index.htm" title="Táo Ambrosia New Zealand" style="color:#00cc33">Táo Ambrosia New Zealand</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">105,000₫</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="ta-o-envy-new-zealand/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/taotuoienvynewzealand.jpg" alt="Táo envy New Zealand" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="ta-o-envy-new-zealand/index.htm" title="Táo envy New Zealand" style="color:#00cc33">Táo envy New Zealand</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="ta-o-queen-new-zealand/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/taoqueen1.jpg" alt="Táo queen New Zealand" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="ta-o-queen-new-zealand/index.htm" title="Táo queen New Zealand" style="color:#00cc33">Táo queen New Zealand</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-item col-xs-4 col-sm-3 col-md-15 col-lg-15">
                <div class="item item-sp woocommerce-pr-object box-shadow-0 box-shadow-0-hover">
                    <div class="product ih-item square effect6 bottom_to_top">
                        <a href="nho-hong-ngoc-han-quoc-gia-120k-hop/index.htm">
                            <div class="img">
                                <picture>
                                    <source media="(min-width: 900px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <source media="(max-width: 480px)" srcset="~/Content/Guest/uploads/source/san-pham/buoi1.jpg">
                                    <img src="uploads/medium/san-pham/traicay/nhohongngoc1.jpg" alt="NHO HỒNG NGỌC HÀN QUỐC" />
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="title">
                        <h3 style="color:#00cc33"><a href="nho-hong-ngoc-han-quoc-gia-120k-hop/index.htm" title="NHO HỒNG NGỌC HÀN QUỐC" style="color:#00cc33">NHO HỒNG NGỌC HÀN QUỐC</a></h3>
                        <div class="item-pr-price">
                            <span class="product-item-price">Liên hệ : 0963 91 31 32 - 0906 920 820</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="widget_box_post_video" style="">
    <div class="row">
        <div id="wpc_post_38" class=" wpv_post">
            <div class="title-header">
                <h3 class="header">TONY TEO FRUIT VÀ KHUYẾN MÃI</h3>
            </div>
            <div id="widget_post_left_38" class="row">

                <div class="col-xs-6 col-md-3">
                    <div class="item effect-hover-guong">
                        <div class="img">
                            <a href="su-kien-trai-cay-3-mien/index.htm" title="sự kiện trái cây 3 miền"><img src="~/Content/Guest/uploads/medium/tin-tuc/083614d1mh.jpg" alt="sự kiện trái cây 3 miền" /></a>
                        </div>
                        <div class="title">
                            <h3><a href="su-kien-trai-cay-3-mien/index.htm" title="sự kiện trái cây 3 miền">sự kiện trái cây 3 miền</a></h3>
                            <!-- <div class="excerpt"></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="item effect-hover-guong">
                        <div class="img">
                            <a href="su-kien-trai-cay-3-mien-3/index.htm" title="Tony Tèo Truy Ân Khách Hàng - Táo Ambrosia Giá Hot"><img src="~/Content/Guest/uploads/medium/ambrosia2_1.jpg" alt="Tony Tèo Truy Ân Khách Hàng - Táo Ambrosia Giá Hot" /></a>
                        </div>
                        <div class="title">
                            <h3><a href="su-kien-trai-cay-3-mien-3/index.htm" title="Tony Tèo Truy Ân Khách Hàng - Táo Ambrosia Giá Hot">Tony Tèo Truy Ân Khách Hàng - Táo Ambrosia Giá Hot</a></h3>
                            <!-- <div class="excerpt"> Nh&acirc;n Diệp Website của Tony T&egrave;o Fruit hoạt động trở lại. Tony T&egrave;o truy &acirc;n kh&aacute;ch h&agrave;ng b&aacute;n t&aacute;o Ambrosia...</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="widget_box_post" style="">
    <div class="header-title text-center">
        <h2 class="header">Tin Tức</h2>
    </div>

    <div class="row">
        <div id="widget_post_39" class="col-md-8" style="float: left">
            
            <div class="item col-xs-6">
                <div class="img">
                    <a href="nhung-loai-hoa-qua-uop-chat-doc-duoc-ban-day-duong-va-hau-qua/index.htm" title="NHỮNG LOẠI HOA QUẢ ƯỚP CHẤT ĐỘC ĐƯỢC BÁN ĐẦY ĐƯỜNG VÀ HẬU QUẢ">
                        <img src="~/Content/Guest/uploads/medium/tin-tuc/photo1507261993348150726199390300372600crop1507262036442.jpg" alt="NHỮNG LOẠI HOA QUẢ ƯỚP CHẤT ĐỘC ĐƯỢC BÁN ĐẦY ĐƯỜNG VÀ HẬU QUẢ" />
                    </a>
                    <div class="time">
                        <span>29-12</span>
                        <span>2017</span>
                    </div>
                </div>
                <div class="title">
                    <h3><a href="nhung-loai-hoa-qua-uop-chat-doc-duoc-ban-day-duong-va-hau-qua/index.htm" title="NHỮNG LOẠI HOA QUẢ ƯỚP CHẤT ĐỘC ĐƯỢC BÁN ĐẦY ĐƯỜNG VÀ HẬU QUẢ">NHỮNG LOẠI HOA QUẢ ƯỚP CHẤT ĐỘC ĐƯỢC BÁN ĐẦY ĐƯỜNG VÀ HẬU QUẢ</a></h3>
                    <div class="excerpt"> Cục Bảo vệ thực vật Việt Nam (Bộ NN-PTNT) đ&atilde;...</div>
                </div>
            </div>
            <div class="item col-xs-6">
                <div class="img">
                    <a href="cach-phan-biet-luu-an-do-luu-tay-ban-nha-va-luu-peru/index.htm" title="Cách phân biệt lựu Ấn Độ, lựu Tây Ban Nha và lựu Peru">
                        <img src="~/Content/Guest/uploads/medium/san-pham/traicay/qualuu.jpg" alt="Cách phân biệt lựu Ấn Độ, lựu Tây Ban Nha và lựu Peru" />
                    </a>
                    <div class="time">
                        <span>14-01</span>
                        <span>2018</span>
                    </div>
                </div>
                <div class="title">
                    <h3><a href="cach-phan-biet-luu-an-do-luu-tay-ban-nha-va-luu-peru/index.htm" title="Cách phân biệt lựu Ấn Độ, lựu Tây Ban Nha và lựu Peru">Cách phân biệt lựu Ấn Độ, lựu Tây Ban Nha và lựu Peru</a></h3>
                    <div class="excerpt"> Lựu Ấn Độ, lựu T&acirc;y Ban Nha, lựu Peru l&agrave;...</div>
                </div>
            </div>
        </div>
    </div>
</div>



