
@{
    ViewBag.Title = "Giới thiệu";
}
<div class="container" style="margin:20px"></div>
    <p>Quý khách hàng và đối tác thân mến,</p>

    <p>
        Trang thương mại điện tử Adayroi chính thức ra mắt từ tháng 8 năm 2015, với sứ mệnh mang đến cho hàng triệu người tiêu dùng Việt và các nhà cung cấp một sàn giao dịch thương mại điện tử uy tín, với chất lượng dịch vụ nhanh chóng và tin cậy.


        Sau hơn 5 năm hình thành và phát triển, Adayroi xin được gửi lời cảm ơn chân thành nhất đến quý khách hàng và những đối tác đã đồng hành cùng chúng tôi trong suốt thời gian qua trong hành trình xây dựng một trang thương mại điện tử của người Việt và vì người Việt.


        Nằm trong lộ trình tái cơ cấu của tập đoàn Vingroup (VIC), nhằm tập trung mọi nguồn lực cho lĩnh vực ưu tiên cốt lõi là Công nghiệp – Công nghệ, trang thương mại điện tử Adayroi sẽ ngừng cung cấp dịch vụ từ ngày hôm nay 20/12/2019.


        Đây là bước chuyển mình quan trọng nhằm nâng cấp mảng thương mại điện tử thành mô hình "New Retails" – kết hợp giữa phương thức bán lẻ truyền thống và phương thức bán lẻ trực tuyến (O2O). Việc sáp nhập Adayroi vào VinID không chỉ giúp dữ liệu hóa hành vi người dùng mà còn tạo ra nền tảng mới, trong đó khách hàng là trọng tâm với mục tiêu dự đoán đúng nhu cầu, đáp ứng chính xác và kịp thời hơn mong muốn của khách hàng với chất lượng dịch vụ tốt nhất.


        Toàn bộ khách hàng của Adayroi cũng sẽ tiếp tục được hưởng các ưu đãi của Vingroup, đặc biệt là các chính sách đặc quyền thẻ VinID dành cho khách hàng.
    </p>

    <p>Mọi thắc mắc vui lòng liên hệ hotline và email dưới đây để được tư vấn và phản hồi kịp thời trong vòng 48h:</p>
    <p>• Hotline: 19001901</p>
    <p>• Email: cskh@adayroi.com</p>

    <p>Một lần nữa, xin cảm ơn!</p>

