
@{
    ViewBag.Title = "Đảo hạt quốc";
}

<div class="warper">

    <div class="container">


        <div class="object-detail">
            <h1 class="header">ĐÀO HẠT QUỐC</h1>

            <div class="time">
                <div class="block"> <span>06-10-2018</span> </div>
            </div>

            <div class="box-share">
                <div class="pull-left">
                    <div class="social_share width_common" id="social_like">
                        <div class="fb-like" data-href="http://traicaytonyteo.com/dao-hat-quoc" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="fb-send" data-href="http://traicaytonyteo.com/dao-hat-quoc"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="excerpt"><h3>Quả đ&agrave;o tr&ocirc;ng vừa đẹp, ăn lại vừa ngon, m&aacute;t l&agrave;nh n&ecirc;n rất nhiều chị em mua về để thắp hương lấy lộc. Tr&aacute;i đ&agrave;o để ăn tươi gi&ograve;n rất vui miệng nhưng nếu ăn ch&iacute;n th&igrave; cũng cực kỳ ngọt, t&ugrave;y v&agrave;o sở th&iacute;ch của từng người mua</h3></div>
            <!-- content -->
            <div class="object-detail-content">
                <h3>B&ecirc;n cạnh những loại quả như dưa hấu, dưa v&agrave;ng hay nho sữa th&igrave; thời điểm cuối th&aacute;ng 7, đầu th&aacute;ng 8 n&agrave;y, nhiều cửa h&agrave;ng bu&ocirc;n b&aacute;n tr&aacute;i c&acirc;y nhập khẩu cũng đ&atilde; nhập về loại đ&agrave;o từ H&agrave;n Quốc. Kh&iacute; hậu &ocirc;n đới, m&aacute;t mẻ của H&agrave;n đ&atilde; khiến những c&acirc;y đ&agrave;o tại đất nước n&agrave;y ra quả muộn hơn, nhưng kh&ocirc;ng v&igrave; thế m&agrave; những tr&aacute;i đ&agrave;o n&agrave;y k&eacute;m ngọt v&agrave; thơm ngon so với những loại tr&aacute;i c&acirc;y m&ugrave;a vụ kh&aacute;c ở xứ sở kim chi.</h3>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="../uploads/source/quanniemsailamkhiandaocanloaibo1.jpg" alt="" width="526" height="341" /></p>
                <h3>Ngay từ giữa th&aacute;ng 7 đ&atilde; l&agrave; m&ugrave;a đ&agrave;o tại H&agrave;n Quốc, đ&agrave;o nhập khẩu từ đất nước n&agrave;y thường được nhập về theo từng th&ugrave;ng 4,5kg. Tr&aacute;i đ&agrave;o tươi vẫn c&ograve;n nguy&ecirc;n l&aacute;, quả n&agrave;o cũng to đều, phải x&ograve;e tay mới cầm hết được.</h3>
                <h3>"Đ&agrave;o nhập về chủ yếu l&agrave; lấy của v&ugrave;ng Gyeonggi - do của H&agrave;n Quốc. Nơi đ&acirc;y c&oacute; n&ocirc;ng trại trồng đ&agrave;o kh&aacute; lớn v&agrave; nổi tiếng, sản lượng đ&agrave;o nhiều v&agrave; được sản xuất theo quy chuẩn, rất an to&agrave;n v&agrave; ngon. Ở H&agrave;n Quốc c&oacute; 2 giống đ&agrave;o l&agrave; đ&agrave;o l&ocirc;ng ruột trắng v&agrave; đ&agrave;o ruột v&agrave;ng. Nhưng đ&agrave;o ruột trắng ăn gi&ograve;n hơn n&ecirc;n ch&uacute;ng t&ocirc;i chỉ nhập loại n&agrave;y về l&agrave; chủ yếu để bảo quản được tốt hơn, hạn chế được những quả bị dập n&aacute;t"&nbsp;</h3>
                <h3>"Giống đ&agrave;o H&agrave;n Quốc c&oacute; phần thịt gi&ograve;n nhưng rất mọng nước, khi ch&iacute;n tới sẽ mềm v&agrave; c&oacute; vị ngọt lịm. Nếu bạn ăn phần thịt quả khi ch&iacute;n th&igrave; sẽ cảm nhận được độ mọng, mỗi miếng cắn sẽ c&oacute; nước đ&agrave;o tr&agrave;o ra, rất m&aacute;t v&agrave; ngon, c&ograve;n nếu ăn gi&ograve;n th&igrave; sẽ c&oacute; cảm gi&aacute;c như ăn t&aacute;o vậy, rất đ&atilde; miệng"&nbsp;</h3>
                <h3>Vẻ ngo&agrave;i của giống đ&agrave;o n&agrave;y tr&ocirc;ng rất đẹp mắt, l&ocirc;ng ngo&agrave;i vỏ ngắn v&agrave; mềm, phần vỏ c&oacute; m&agrave;u hồng phấn xen lẫn m&agrave;u v&agrave;ng nhạt, một số quả c&oacute; m&agrave;u đỏ - hồng xen lẫn. Khi gọt vỏ th&igrave; phần thịt quả c&oacute; m&agrave;u trắng kem đẹp mắt, tr&ocirc;ng rất hấp dẫn.</h3>
                <h3>Từ cuối th&aacute;ng 7 đến nay, chị đ&atilde; b&aacute;n hết gần 30kg đ&agrave;o H&agrave;n Quốc, thu l&atilde;i kh&ocirc;ng &iacute;t. Gi&aacute; của 1kg đ&agrave;o l&ocirc;ng ruột trắng H&agrave;n Quốc dao động khoảng 320.000 - 350.000 đồng/kg, ước chừng 1kg được khoảng 4 quả đ&agrave;o.</h3>
                <p><img style="display: block; margin-left: auto; margin-right: auto;" src="../uploads/source/cachchuabenhtodiaolongbantayvangontay1_1.jpg" alt="" width="529" height="352" /></p>
                <h3>Vẻ ngo&agrave;i của giống đ&agrave;o n&agrave;y tr&ocirc;ng rất đẹp mắt, l&ocirc;ng ngo&agrave;i vỏ ngắn v&agrave; mềm, phần vỏ c&oacute; m&agrave;u hồng phấn xen lẫn m&agrave;u v&agrave;ng nhạt, một số quả c&oacute; m&agrave;u đỏ - hồng xen lẫn. Khi gọt vỏ th&igrave; phần thịt quả c&oacute; m&agrave;u trắng kem đẹp mắt, tr&ocirc;ng rất hấp dẫn.</h3>
                
            </div>

            <div class="related_post">
                <h3 class="header text-left" style="text-align: left;">Bài viết liên quan</h3>
                <div class="item">
                    <div class="img">
                        <a href="/Home/News/1"><img src="~/Content/Guest/uploads/source/tin-tuc/7105182.jpg" alt="Những loại nho 'lạ' gây sốt ở thị trường Việt" /></a>
                    </div>
                    <div class="title">
                        <h3><a href="/Home/News/1">Những loại nho 'lạ' gây sốt ở thị trường Việt</a></h3>
                        <div class="description">
                            Gi&aacute; từ v&agrave;i trăm ngh&igrave;n đến h&agrave;ng triệu đồng một kg, những loại nho c&oacute; h&igrave;nh d&aacute;ng lạ, được cho...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
