
@{
    ViewBag.Title = "Hướng dẫn mua hàng";
}

<div class="box-bg-title">
    <div class="title">
        <h1 class="header border border-primary rounded-pill">Hướng dẫn mua hàng</h1>
    </div>
</div>

<div class="object-detail">
    <!-- content -->
    <div class="object-detail-content">
        <p><span style="color: #ff0000;"><strong>Hướng dẫn thanh to&aacute;n</strong></span></p>
        <p>Sau khi lựa chọn được sản phẩm ưng &yacute;, qu&yacute; kh&aacute;ch c&oacute; thể chọn thanh to&aacute;n nhanh ch&oacute;ng qua ng&acirc;n h&agrave;ng, trực tiếp hoặc tại nh&agrave;.</p>
        <ol>
            <li><span style="color: #ff0000;"><strong> Thanh to&aacute;n qua ng&acirc;n h&agrave;ng</strong></span></li>
        </ol>
        <p>Về thủ tục chuyển khoản, qu&yacute; kh&aacute;ch thực hiện thao t&aacute;c sau:<br /> Nhắn tin cho số điện thoại <strong>0123456789 </strong>với nội dung:&nbsp;Thanh to&aacute;n cho đơn h&agrave;ng M&atilde; Đơn H&agrave;ng - Th&ocirc;ng qua ng&acirc;n h&agrave;ng (...) &nbsp;- Số tiền</p>
        <p>Nh&acirc;n vi&ecirc;n Đặc sản Bưởi Việt Nam &nbsp;nhận được tiền sẽ li&ecirc;n hệ&nbsp;lại cho khách hàng và bắt đ&acirc;̀u đặt đơn hàng.</p>
        <p>Nếu trong v&ograve;ng 12h qu&yacute; kh&aacute;ch kh&ocirc;ng nhận được&nbsp;li&ecirc;n hệ lại&nbsp;th&igrave; vui l&ograve;ng gửi&nbsp;mail đ&ecirc;́n địa chỉ:&nbsp;<strong>abc@gmail.com</strong>&nbsp;hoặc gọi điện số&nbsp;<strong>0123456789 (6h-21h) &nbsp;- </strong>để ch&uacute;ng t&ocirc;i x&aacute;c nhận lại với ng&acirc;n h&agrave;ng.</p>
        <p>Số t&agrave;i khoản v&agrave; địa chỉ ng&acirc;n h&agrave;ng&nbsp;để qu&yacute; kh&aacute;ch lựa chọn gồm c&oacute;:&nbsp;</p>
        <table style="margin-left: auto; margin-right: auto; width: auto; height: auto; border-color: ffff;" border="10">
            <caption>&nbsp;</caption>
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <p style="text-align: center;"><span style="color: #ff0000; font-size: 15px;"><strong>T&Agrave;I KHOẢN</strong></span></p>
                    </td>
                    <td style="width: 30%;">
                        <p><span style="color: #ff0000; font-size: 15px;"><strong>TH&Ocirc;NG TIN NG&Acirc;N H&Agrave;NG</strong></span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%;">
                        <p style="text-align: center;"><span style="color: #000000; font-size: 15px;">ABC</span></p>
                    </td>
                    <td style="width: 30%;">
                        <p><span style="color: #ff0000; font-size: 15px;">
                            <ul>
                                <li>ABC</li>
                                <li>CDE</li>
                            </ul>
                            </span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <ol start="2">
            <li><span style="color: #ff0000;"><strong> Thanh to&aacute;n tại nh&agrave;</strong></span><br /> Qu&yacute; kh&aacute;ch c&oacute; thể y&ecirc;u cầu nh&acirc;n vi&ecirc;n của <strong>Đặc sản Bưởi Việt Nam</strong> theo số 0123456789 (6h-22h) qua&nbsp;địa chỉ qu&yacute; kh&aacute;ch y&ecirc;u c&acirc;̀u để nhận tiền mặt&nbsp;v&agrave; giao h&agrave;ng.</li>
            <li><span style="color: #ff0000;"><strong> Mua h&agrave;ng v&agrave; thanh to&aacute;n trực tiếp tại cửa h&agrave;ng gần nhất</strong></span></li>
        </ol>
        <p>Qu&yacute; kh&aacute;ch vui l&ograve;ng&nbsp;trực tiếp cửa h&agrave;ng <strong>Đặc sản Bưởi Việt Nam</strong> gần nhất để lựa chọn v&agrave;&nbsp;thanh to&aacute;n.</p>
        <ol start="4">
            <li><span style="color: #ff0000;"><strong> Lưu ý</strong></span></li>
        </ol>
        <p><strong>Ship trong nội th&agrave;nh S&agrave;i G&ograve;n:</strong></p>
        <p>Miễn ph&iacute; ship với h&oacute;a đơn từ 300.000 vnđ trở l&ecirc;n trong b&aacute;n k&iacute;nh 5km đầu ti&ecirc;n. Km thứ 8 tiếp theo t&iacute;nh 6000đ/km</p>
        <p><strong>Ship Tỉnh:</strong></p>
        <p>Với H&oacute;a đơn dưới 300.000 vnđ:</p>
        <p>Ship từ cửa h&agrave;ng ra bến xe: thu ship 13.000đ km đầu ti&ecirc;n, từ km thứ 2 t&iacute;nh 6.000đ/km</p>
        <p>Ph&iacute; vận chuyển từ bến xe về tay kh&aacute;ch h&agrave;ng: kh&aacute;ch tự chi trả</p>
        <p>&nbsp;</p>
        <p>Với H&oacute;a đơn tr&ecirc;n 300.000 vnđ v&agrave; dưới 1.500.000 vnđ:</p>
        <p>Ship từ cửa h&agrave;ng ra bến xe: miễn ph&iacute;</p>
        <p>Ph&iacute; vận chuyển từ bến xe về tay kh&aacute;ch h&agrave;ng: Kh&aacute;ch tự chi trả</p>
        <p>&nbsp;</p>
        <p>Với h&oacute;a đơn tr&ecirc;n 1.500.000 vnđ:</p>
        <p>Ship từ cửa h&agrave;ng ra bến xe: miễn ph&iacute;</p>
        <p>Ph&iacute; vận chuyển từ bến xe về tay kh&aacute;ch h&agrave;ng miển ph&iacute;</p>
        <p>&nbsp;</p>
        <p style="text-align: center;"><span style="color: #ff0000;"><strong>K&iacute;nh ch&uacute;c qu&yacute; kh&aacute;ch lu&ocirc;n h&agrave;i l&ograve;ng khi mua h&agrave;ng tại </strong><strong>Đặc sản Bưởi Việt Nam!</strong></span></p>
        <p>&nbsp;</p>
    </div>
</div>
<div class="clearfix"></div>

