<nav class="navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-main" data-hover="dropdown" data-animations="fadeInUp fadeInRight fadeInUp fadeInLeft" aria-expanded="true">
        <ul class="nav navbar-nav navbar-left">
            <li class=""><a href="index.htm">Trang chủ</a></li>
            <li class="dropdown ">
                <a href="trai-cay-nhap-khau/index.htm">TRÁI CÂY NHẬP KHẨU</a>
                <ul class="dropdown-menu dropdownhover-bottom">
                    <li class=""><a href="cherry/index.htm">CHERRY</a></li>
                    <li class=""><a href="le/index.htm">LÊ</a></li>
                    <li class=""><a href="nho/index.htm">NHO </a></li>
                    <li class=""><a href="tao/index.htm">TÁO</a></li>
                    <li class=""><a href="kiwi/index.htm">KIWI</a></li>
                    <li class=""><a href="dau/index.htm">Dâu</a></li>
                    <li class=""><a href="luu/index.htm">LỰU</a></li>
                    <li class=""><a href="hong-gion-1/index.htm">HỒNG GIÒN</a></li>
                    <li class=""><a href="trai-cay-kho/index.htm">TRÁI CÂY KHÔ</a></li>
                    <li class=""><a href="trai-cay-khac/index.htm">TRÁI CÂY KHÁC</a></li>
                </ul>
            </li>
            <li class=""><a href="nuoc-uong/index.htm">NƯỚC UỐNG</a></li>
            <li class="dropdown ">
                <a href="hang-nhap-khau/index.htm">HÀNG NHÂP KHẨU</a>
                <ul class="dropdown-menu dropdownhover-bottom">
                    <li class=""><a href="san-pham-dinh-duong/index.htm">SẢN PHẨM DINH DƯỠNG</a></li>
                    <li class=""><a href="san-pham-viethaelthy/index.htm">SẢN PHẨM VIETHEALTHY</a></li>
                    <li class=""><a href="do-hop-dong-goi/index.htm">ĐỒ HỘP ĐÓNG GÓI</a></li>
                    <li class=""><a href="hat-dinh-duong/index.htm">HẠT DINH DƯỠNG</a></li>
                    <li class=""><a href="banh-keo-nhap-khau/index.htm">BÁNH KẸO NHẬP KHẨU</a></li>
                    <li class=""><a href="thuc-pham-chuc-nang/index.htm">THỰC PHẨM CHỨC NĂNG</a></li>
                    <li class=""><a href="san-pham-baby/index.htm">SẢN PHẨM BABY</a></li>
                    <li class=""><a href="san-pham-cho-ba-bau/index.htm">SẢN PHẨM CHO BÀ BẦU</a></li>
                </ul>
            </li>
            <li class=""><a href="gio-qua-2/index.htm">GIỎ QUÀ</a></li>
            <li class=""><a href="bang-gia-1/index.htm">Bảng Giá</a></li>
            <li class=""><a href="tin-tuc/index.htm">Tin tức</a></li>
            <li class=""><a href="lien-he/index.htm">Liên Hệ</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden">
            <li class="gio-hang">
                <a href="gio-hang/index.htm" class="btn-cart-top">
                    <img src="uploads/source/icon/iconcart.png" alt="" /> <span class="wcmc-total-items">0</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>