<div class="col-md-4">
    <a href="#" class="list-group-item active">Menu</a>
    <a href="/Admin/Order" class="list-group-item">Quản Lý Đơn Hàng</a>
    <a href="/Admin/Product" class="list-group-item">Quản Lý Sản Phẩm</a>
    <a href="/Admin/News" class="list-group-item">Quản Lý Tin Tức</a>
    <a href="#" class="list-group-item">Cài Đặt Hệ Thống</a>
</div>